---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="container auth-container">
    <div class="row no-gutters justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="auth-page-title">
              <h1>Password Reset</h1>
              <h3>
                You can sign in to <span>MyTechHunter</span> using your existing
                account or Your Social Media
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-5">
            <div class="form-title">Password Reset</div>
            <form @submit="Login">
              <input class="form-control" type="password" required placeholder="Verification Code" />
              <input class="form-control" type="password" required placeholder="New Password" />
              <input class="form-control" type="password" required placeholder="Confirm Password" />

              <button class="btn mb-4 btn-block btn-primary">Reset</button>

            
            </form>
          </div>
        
        </div>
      </div>
    </div>
  </div>

