---
layout : default.html
title : My Tech Hunter - HTML version
---

<div class="container auth-container">
  <div class="row no-gutters justify-content-center">
    <ul class="steps">
      <li class="active">
        Choose Subscription
      </li>

      <li class="active">
        Business Information
      </li>

      <li class="active">
        Payment confirmation
      </li>

      <li class="active">
        SMS Verification & Email Activation
      </li>

    </ul>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="auth-page-title text-center py-5">
            <h1>
              Your account created successfully !

            </h1>
            <h3>
              Please check you email address and<br>
              verify your account to proceed.
            </h3>


            <p>
              <i class="fa fa-spinner fa-spin fa-fw"></i>
              Verification pending…
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>