---
layout : default.html
title : My Tech Hunter - HTML version
---

{{> home-slider}}
{{> home-recent-post}}
{{> home-promotions}}
{{> home-categories}}
{{> home-become-a}}
{{> home-price-component}}

{{> home-customers}}



<div class="modal fade" data-bs-backdrop="static" id="becomeMemberModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">FREE Tech Hunter Advisors <br/>
                        for members
                        <span>
                            Find highly recommended Network Admins / Techs / IT/
                            MSP /Web Design/ Software Developers / Dev Ops
                        </span>
                    </h5>



                    <button type="button"
                        class="btn-close btn-secondary"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body become-member">
                    <ul><li><i class="fa fa-check"></i> Get instant remote
                            support on PC or phone </li><li><i class="fa
                                fa-check"></i> Chat with Technician instantly
                        </li><li><i class="fa fa-check"></i> Encrypted video
                            meetings </li><li><i class="fa fa-check"></i>Priority
                            customer support</li><li><i class="fa fa-check"></i>Remote
                            support 24 X 7</li><li><i class="fa fa-check"></i>Cancel
                            your account at any time</li><li><i class="fa
                                fa-check"></i> On-demand remote software </li><li><i
                                class="fa fa-check"></i> Help to get customers
                            like home advisor </li></ul>

                    <button class="btn btn-secondary">
                        <i class="fa fa-user" aria-hidden="true"></i> Become a
                        member
                    </button>
                </div>

            </div>
        </div>
    </div>
