---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="container" id="user_profile">
  <div class="row">
    <div class="col-md-3">

      {{> profile_left_nav}}



    </div>
    <div class="col-md-9 mt-4">

      <div class="card">
        <div class="card-body">
          <div class="user-profile-title">
            <h1>
              Followers
            </h1>
            <h3>
              manage messages (edit, update, delete)
            </h3>
          </div>
          <div class="search-add-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex">
                  <div class="search-content">
                    <form>
                      <span class="icon-IconSearch"></span>
                      <input type="text" class="form-control"
                        placeholder="Search" />
                    </form>

                  </div>
                  <div class="dropdown search-filter-dropdown ml-4">
                    <button class="btn btn-secondary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown">
                      <span>Sort by</span> <span class="icon-IconArrowDown"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item" href="#">

                        New
                      </li>
                      <li class="dropdown-item" href="#">

                        Closed
                      </li>
                      <li class="dropdown-item" href="#">

                        Other
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         

          </div>

          <div class="row mt-4">
            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         

          </div>

        </div>
      </div>

      <div class="search-results-footer d-flex justify-content-between mt-4">
        <div class="d-flex align-items-center">
          <div class="mr-2">
            Show results
          </div>
          <div class="dropdown search-filter-dropdown small-version">
            <button class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown">
              <span>24</span> <span class="icon-IconArrowDown"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"> 24</li>
              <li class="dropdown-item"> 48</li>
              <li class="dropdown-item"> 72</li>

            </ul>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>





      <!-- following -->


      <div class="card">
        <div class="card-body">
          <div class="user-profile-title">
            <h1>
              Following
            </h1>
            <h3>
              manage messages (edit, update, delete)
            </h3>
          </div>
          <div class="search-add-wrapper">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex">
                  <div class="search-content">
                    <form>
                      <span class="icon-IconSearch"></span>
                      <input type="text" class="form-control"
                        placeholder="Search" />
                    </form>

                  </div>
                  <div class="dropdown search-filter-dropdown ml-4">
                    <button class="btn btn-secondary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown">
                      <span>Sort by</span> <span class="icon-IconArrowDown"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item" href="#">

                        New
                      </li>
                      <li class="dropdown-item" href="#">

                        Closed
                      </li>
                      <li class="dropdown-item" href="#">

                        Other
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         

          </div>

          <div class="row mt-4">
            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm">
                  Follow back
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card card-followers">
                <button class="btn btn-secondary btn-sm following">
                  Following
                </button>
                <div class="card-body">
                  <a href="#">
                    <img src="{{assets}}images/avatars/avatar-1.png" width="72"
                      height="72">
                    <div>
                      Emiliya Vaito
                      <span>Network Engineer</span>
                    </div>
                  </a>
                  <div class="profile-user__links">
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         

          </div>

        </div>
      </div>

      <div class="search-results-footer d-flex justify-content-between mt-4">
        <div class="d-flex align-items-center">
          <div class="mr-2">
            Show results
          </div>
          <div class="dropdown search-filter-dropdown small-version">
            <button class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown">
              <span>24</span> <span class="icon-IconArrowDown"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"> 24</li>
              <li class="dropdown-item"> 48</li>
              <li class="dropdown-item"> 72</li>

            </ul>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>



