---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="container" id="user_profile">
  <div class="row">
    <div class="col-md-3">
      {{> profile_left_nav}}
    </div>

    <div class="col-md-9">
      <div class="card mt-4 mb-4">
        <div class="card-body">
          <div class="user-profile-title">
            <h1>
              Messages
            </h1>
            <h3>
              manage messages (edit, update, delete)
            </h3>
          </div>
          <div class="search-add-wrapper">
          <div class="row">
            <div class="col-md-12">
             <div class="d-flex">
              <div class="search-content">
                <form>
                  <span class="icon-IconSearch"></span>
                  <input type="text" class="form-control" placeholder="Search" />
                </form>
              
              </div>
              <div class="dropdown  search-filter-dropdown ml-4">
                <button class="btn btn-secondary dropdown-toggle" 
                type="button"
                data-bs-toggle="dropdown">
                 <span>Sort by</span> <span class="icon-IconArrowDown"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" href="#">
                    
                 New
                  </li>
                  <li class="dropdown-item" href="#">
                    
                   Closed
                  </li>
                  <li class="dropdown-item" href="#">
                   
                  Other
                  </li>
                </ul>
              </div>
             </div>
            </div>
           
          </div>
          </div>

          <div>
            <table cellpadding="0" cellspacing="0" class="user-profile-table">
              <thead>
                <tr>
                  <th>
                   Message
                  </th>
                  <th>
                    Post
                   </th>
                  <th>
                   Date
                  </th>
                  <th>
                    Status
                  </th>
                  <th style="width:40px">
                    New reply
                  </th>
                  <th>
                    Actions
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr class="new-message">
                  <td>
                    <a href="/single-page">Computer, Laptop, Mobile Phone…..</a>
                  </td>
                  <td>
                    <a href="/single-page">Computer, Laptop, Mobile Phone…..</a>
                  </td>

                  <td>
                    2020-03-26
                  </td>

                  <td>
                    <span class="badge badge-success">New</span>
                  </td>
                  <td>
                    <span class="badge badge-warning">03</span>
                  </td>
                  <td>
 
                    <a href="#" title="Reply" data-bs-toggle="modal" data-bs-target="#viewMessageModal">
                      <span class="icon-IconMessage"></span>
                    </a>
                    <a href="#">
                      <span class="icon-IconDelete"></span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="/single-page">Computer, Laptop, Mobile Phone…..</a>
                  </td>
                  <td>
                    <a href="/single-page">Computer, Laptop, Mobile Phone…..</a>
                  </td>

                  <td>
                    2020-03-26
                  </td>

                  <td>
                    <span class="badge badge-danger">Closed</span>
                  </td>
                  <td>
                    <span class="badge badge-warning">03</span>
                  </td>
                  <td>

                    <a href="#" title="Reply">
                      <span class="icon-IconMessage"></span>
                    </a>
                    <a href="#">
                      <span class="icon-IconDelete"></span>
                    </a>
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>


        </div>
      </div>

      <div class="search-results-footer d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <div class="mr-2">
            Show results
          </div>
          <div class="dropdown search-filter-dropdown small-version">
            <button class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown">
              <span>24</span> <span class="icon-IconArrowDown"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"> 24</li>
              <li class="dropdown-item"> 48</li>
              <li class="dropdown-item"> 72</li>

            </ul>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>