---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="breadcrumb">

        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/">Repair & Services</a>
          </li>
          <li>
            <a href="/">Computer Repair &amp;
              Trouble shooting
            </a>
          </li>
          <li>
            <a href="/">
              AD 454325425 (Repair Mac &amp; Troubleshooting)
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="single-service-info mb-4">
        <div class="card service-info">
          <div class="row">
            <div class="col-md-12">
              <div class="d-md-flex justify-content-between
                align-content-center">
                <div class="d-flex">
                  <img src="{{assets}}images/avatars/single-user-avatar.png" />
                  <div>
                    <div class="d-md-flex align-items-center
                      business-info-wrapper">
                      <div class="business-name">
                        Adam jones
                      </div>
                      <div class="star-ratings">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-mute"></i>
                      </div>
                    </div>
                    <div class="d-flex business-followers align-center">
                      124 Followers
                      <button class="btn btn-sm px-3">
                        Follow
                      </button>
                    </div>
                    
                  </div>
                </div>
             
                <div class="business-messenger">
                  <button class="btn btn-warning btn-lg" href="/login">

                    Sign in to Message
                  </button>
                </div>
              </div>

             
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col-md-8">
              <h2>
                Mac Repair, services,
                replacement & troubleshooting
              </h2>
            </div>
            <div class="col-md-4 business-views">
              <p class="text-primary">
                16 Views
              </p>
              <button class="btn btn-outline-secondary">
                <i class="fa fa-heart-o"></i>
                Favourites
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="addthis_inline_share_toolbox"></div>
              <div class="swiper-container" id="single_gallery">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="{{assets}}images/slides/slide-3.jpg" />
                  </div>

                  <div class="swiper-slide">
                    <img src="{{assets}}images/slides/slide-1.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{{assets}}images/slides/slide-2.jpg" />
                  </div>

                  <div class="swiper-slide">
                    <img src="{{assets}}images/slides/slide-1.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <img src="{{assets}}images/slides/slide-2.jpg" />
                  </div>
                  <div class="swiper-slide">
                    <video controls id="gallery-video"
                      src="{{assets}}videos/video.mp4"></video>
                  </div>

                </div>
                <!-- Additional required wrapper -->
              </div>
              <div class="gallery-thumbs" id="gallery-thumbs">
                <a>
                  <img src="{{assets}}images/thumb_1.png" />
                </a>
                <a>
                  <img src="{{assets}}images/thumb_2.png" />
                </a>
                <a>
                  <img src="{{assets}}images/thumb_3.png" />
                </a>
                <a>
                  <img src="{{assets}}images/thumb_4.png" />
                </a>
                <a>
                  <img src="{{assets}}images/thumb_5.png" />
                </a>
                <a>
                  <img src="{{assets}}images/thumb_1.png" />
                </a>

              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-5">
              <div class="price-container">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="actual-price">
                    Price
                    <p class="line-through">200 USD</p>
                  </div>
                  <div class="discount-price">
                    120 USD
                  </div>
                </div>
                <div>
                  <span class="text-success">
                    <strong>32 </strong>
                  </span>Statisfied Customers
                </div>
              </div>

            </div>
            <div class="col-md-7">
              <div class="payment-options">
                <img src="{{assets}}svg/paypal.svg">
                <img src="{{assets}}svg/visa.svg">
                <img src="{{assets}}svg/master.svg">
                <img src="{{assets}}svg/discover.svg">
                <img src="{{assets}}svg/wave.svg">
                <img src="{{assets}}svg/unionpay.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mt-4 single_page_desc">
              <h5>
                Service Description
              </h5>
              <p>
                Welcome to Compute Your World. We repair ANY APPPLE MAC computer
                or digital device, no matter the
                brand or model. We know Laptop, Mobile Phone & Tablet Repairs
                backwards and forwards. It’s our
                business and pleasure to recover your precious data and save you
                the hefty expense of buying a new
                device.
                <br><br>
                Among our other services are: Technical Support, Macbook Screen
                Replacement, Laptop Screen
                Replacement, Virus Removal, Spyware Removal, Phone Screen
                Repairs,
                Networking, Servers, Business
                Support, Pre-owned Computers and Laptops, New Computers &
                Laptops,
                Computer Parts, Reformating, Onsite
                Technical Support, inRent.
                <br><br>
                We welcome trade-ins toward upgrade purchases, and financing is
                also available. We hope to see you
                soon!
              </p>
            </div>
            <div class="single-service-categories">
              <div class="mt-0 divider"></div>
              <h5>
                Categories
              </h5>

              <a href="/">
                Networking
              </a>
              <a href="/">
                Troubleshooting
              </a>
              <a href="/">
                Remote service
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <!-- advertisement-->
        <figure>
          <img src="{{assets}}images/ad_3.png" style="width:100%;" />
        </figure>
        <!-- close advertisement-->
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="section-sub-title">
              <h2>
                Promotions
              </h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card service_card promotion-card p-0">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-1.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card service_card promotion-card p-0">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-2.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="card service_card promotion-card p-0">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-3.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 customer_reviews">
              <div class="card-header">
                Customer Reviews
              </div>
              <div class="card-body px-4">
                <div class="row mb-4">
                  <div class="col-sm-12">
                    <div class="d-flex">
                      <img src="{{assets}}images/avatars/avatar-3.png"
                        width="40" height="40" class="mr-2" />
                      <div>
                        <p class="reviewer-info">
                          <strong>Ouail E</strong> <span class="text-muted">
                            wrote a
                            review
                            Yesterday</span>
                        </p>
                        <p class="text-primary">
                          <strong>
                            12 reviews
                          </strong>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="review_desc">
                      Amazing services and amazing response daily that théy
                      service
                      Especially Ruby ,Durga aniket from
                      housekeeping, they provided m’y needs daily.. perfect
                      cleaning
                      perfect set up of aménités..keep it up
                      guys...
                    </div>
                  </div>





                </div>
                <div class="row">
                  <div class="col-md-6">

                    <div class="like-reply-container">
                      <div class="helpful">
                        <button class="btn">
                          Helpful <i class="fa fa-thumbs-o-up"
                            aria-hidden="true"></i>
                        </button>
                        <div>14</div>
                      </div>

                      <div>
                        <button class="btn">
                          Share <i class="fa fa-share-alt" aria-hidden="true"></i>
                        </button>
                      </div>

                      <div class="reply">
                        <button class="btn">
                          Reply <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                        <div>4</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <p class="star-ratings text-right">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 write-a-review">
              <div class="card-header">
                Write a review
              </div>
              <div class="card-body px-4">
                <form action="#">
                  <div class="choose-star-rating">
                    <h5>
                      Choose a star rating
                    </h4>
                    <div class="select-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>

                      <span class="emoji">

                      </span>
                    </div>

                  </div>
                  <div class="my-4">

                  </div>
                  <input class="form-control" required
                    placeholder="Full name" />

                  <textarea class="form-control" rows="10"
                    placeholder="Say something about our servcie"></textarea>
                  <button class="btn btn-primary">
                    Post your review
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="section-sub-title">
              <h2>
                Related Service
              </h2>
            </div>

            <div class="card service_card th-vertical">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/p1.png" />
                </div>

                <div>
                  <div class="d-flex justify-content-between">

                    <div class="comp_name">
                      <div size="44"></div>
                      RF computer services
                    </div>
                    <div class="service_distance">
                      5 Miles
                    </div>
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_desc">
                    If it runs on ones and zeros, we’re your heroes! Welcome
                    to
                    Compute Your World. We repair ANY
                    computer
                    or digital device, no matter the brand or model. We know
                    Laptop,
                    Mobile Phone
                  </div>

                  <div class="category-tags">
                    <a href="/">Networking</a>
                    <a href="/">Repair</a>
                  </div>
                  <div class="d-flex align-baseline justify-content-between">
                    <div class="service_rating">
                      <svg width="80px" height="14px" viewBox="0 0 80 14"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Group Copy 14</title>
                        <defs>
                          <rect id="path-1" x="377" y="903" width="261"
                            height="371"
                            rx="12"></rect>
                          <filter x="-7.5%" y="-4.4%" width="114.9%"
                            height="110.5%"
                            filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="3" in="SourceAlpha"
                              result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="6"
                              in="shadowOffsetOuter1"
                              result="shadowBlurOuter1"></feGaussianBlur>
                            <feComposite in="shadowBlurOuter1"
                              in2="SourceAlpha"
                              operator="out"
                              result="shadowBlurOuter1"></feComposite>
                            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0
                              0 0
                              0
                              0 0.101617133 0" type="matrix"
                              in="shadowBlurOuter1"></feColorMatrix>
                          </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <g id="Home" transform="translate(-402.000000,
                            -1172.000000)">
                            <g id="Rectangle-Copy-60">
                              <use fill="black" fill-opacity="1"
                                filter="url(#filter-2)" xlink:href="#path-1"></use>
                              <rect stroke="#EEEEEE" stroke-width="1"
                                stroke-linejoin="square" fill="#FFFFFF"
                                fill-rule="evenodd"
                                x="377.5" y="903.5" width="260" height="370"
                                rx="12"></rect>
                            </g>
                            <g id="Group-Copy-14"
                              transform="translate(402.000000,
                              1172.000000)" fill-rule="nonzero">
                              <g id="148841" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy"
                                transform="translate(17.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-2"
                                transform="translate(33.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-3"
                                transform="translate(48.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-4"
                                transform="translate(65.000000,
                                0.000000)" fill="#ACACAC">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      (20 reviews)
                    </div>
                    <div class="customer-satisfaction">
                      <span>
                        120
                      </span>
                      Satisfied customers
                    </div>
                    <div class="service_price">
                      <small>
                        Price
                      </small>
                      $$$ USD
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <div class="card service_card th-vertical">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/p1.png" />
                </div>

                <div>
                  <div class="d-flex justify-content-between">

                    <div class="comp_name">
                      <div size="44"></div>
                      RF computer services
                    </div>
                    <div class="service_distance">
                      5 Miles
                    </div>
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_desc">
                    If it runs on ones and zeros, we’re your heroes! Welcome
                    to
                    Compute Your World. We repair ANY
                    computer
                    or digital device, no matter the brand or model. We know
                    Laptop,
                    Mobile Phone
                  </div>

                  <div class="category-tags">
                    <a href="/">Networking</a>
                    <a href="/">Repair</a>
                  </div>
                  <div class="d-flex align-baseline justify-content-between">
                    <div class="service_rating">
                      <svg width="80px" height="14px" viewBox="0 0 80 14"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Group Copy 14</title>
                        <defs>
                          <rect id="path-1" x="377" y="903" width="261"
                            height="371"
                            rx="12"></rect>
                          <filter x="-7.5%" y="-4.4%" width="114.9%"
                            height="110.5%"
                            filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="3" in="SourceAlpha"
                              result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="6"
                              in="shadowOffsetOuter1"
                              result="shadowBlurOuter1"></feGaussianBlur>
                            <feComposite in="shadowBlurOuter1"
                              in2="SourceAlpha"
                              operator="out"
                              result="shadowBlurOuter1"></feComposite>
                            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0
                              0 0
                              0
                              0 0.101617133 0" type="matrix"
                              in="shadowBlurOuter1"></feColorMatrix>
                          </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <g id="Home" transform="translate(-402.000000,
                            -1172.000000)">
                            <g id="Rectangle-Copy-60">
                              <use fill="black" fill-opacity="1"
                                filter="url(#filter-2)" xlink:href="#path-1"></use>
                              <rect stroke="#EEEEEE" stroke-width="1"
                                stroke-linejoin="square" fill="#FFFFFF"
                                fill-rule="evenodd"
                                x="377.5" y="903.5" width="260" height="370"
                                rx="12"></rect>
                            </g>
                            <g id="Group-Copy-14"
                              transform="translate(402.000000,
                              1172.000000)" fill-rule="nonzero">
                              <g id="148841" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy"
                                transform="translate(17.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-2"
                                transform="translate(33.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-3"
                                transform="translate(48.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-4"
                                transform="translate(65.000000,
                                0.000000)" fill="#ACACAC">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      (20 reviews)
                    </div>
                    <div class="customer-satisfaction">
                      <span>
                        120
                      </span>
                      Satisfied customers
                    </div>
                    <div class="service_price">
                      <small>
                        Price
                      </small>
                      $$$ USD
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card service_card th-vertical">
              <div class="card-body">
                <div class="service_image">
                  <img src="{{assets}}images/p1.png" />
                </div>

                <div>
                  <div class="d-flex justify-content-between">

                    <div class="comp_name">
                      <div size="48"></div>
                      RF computer services
                    </div>
                    <div class="service_distance">
                      5 Miles
                    </div>
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_desc">
                    If it runs on ones and zeros, we’re your heroes! Welcome
                    to
                    Compute Your World. We repair ANY
                    computer
                    or digital device, no matter the brand or model. We know
                    Laptop,
                    Mobile Phone
                  </div>

                  <div class="category-tags">
                    <a href="/">Networking</a>
                    <a href="/">Repair</a>
                  </div>
                  <div class="d-flex align-baseline justify-content-between">
                    <div class="service_rating">
                      <svg width="80px" height="14px" viewBox="0 0 80 14"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Group Copy 14</title>
                        <defs>
                          <rect id="path-1" x="377" y="903" width="261"
                            height="371"
                            rx="12"></rect>
                          <filter x="-7.5%" y="-4.4%" width="114.9%"
                            height="110.5%"
                            filterUnits="objectBoundingBox"
                            id="filter-2">
                            <feOffset dx="0" dy="3" in="SourceAlpha"
                              result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="6"
                              in="shadowOffsetOuter1"
                              result="shadowBlurOuter1"></feGaussianBlur>
                            <feComposite in="shadowBlurOuter1"
                              in2="SourceAlpha"
                              operator="out"
                              result="shadowBlurOuter1"></feComposite>
                            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0
                              0 0
                              0
                              0 0.101617133 0" type="matrix"
                              in="shadowBlurOuter1"></feColorMatrix>
                          </filter>
                        </defs>
                        <g id="Page-1" stroke="none" stroke-width="1"
                          fill="none"
                          fill-rule="evenodd">
                          <g id="Home" transform="translate(-402.000000,
                            -1172.000000)">
                            <g id="Rectangle-Copy-60">
                              <use fill="black" fill-opacity="1"
                                filter="url(#filter-2)" xlink:href="#path-1"></use>
                              <rect stroke="#EEEEEE" stroke-width="1"
                                stroke-linejoin="square" fill="#FFFFFF"
                                fill-rule="evenodd"
                                x="377.5" y="903.5" width="260" height="370"
                                rx="12"></rect>
                            </g>
                            <g id="Group-Copy-14"
                              transform="translate(402.000000,
                              1172.000000)" fill-rule="nonzero">
                              <g id="148841" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy"
                                transform="translate(17.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-2"
                                transform="translate(33.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-3"
                                transform="translate(48.000000,
                                0.000000)" fill="#EFCE4A">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                              <g id="148841-copy-4"
                                transform="translate(65.000000,
                                0.000000)" fill="#ACACAC">
                                <polygon id="Path"
                                  points="7.50013923 0 9.81751351 4.60845972
                                  15
                                  5.3476606 11.2499304 8.93462942 12.1351662
                                  14
                                  7.50013923 11.6085964 2.86483376 14
                                  3.75006962
                                  8.93462942 0 5.3476606 5.18248649
                                  4.60845972"></polygon>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      (20 reviews)
                    </div>
                    <div class="customer-satisfaction">
                      <span>
                        120
                      </span>
                      Satisfied customers
                    </div>
                    <div class="service_price">
                      <small>
                        Price
                      </small>
                      $$$ USD
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="card google-address-map mb-4">
        <div class="card-body">
          <div id="address-map"></div>
          <ul>
            <li>
              <span>
                <i class="icon-IconMarker"></i>
              </span>
              <p>
                23/2 Malone Street Morphett Vale Los Angels
              </p>
            </li>
            <li>
              <span>
                <i class="icon-IconProfileEnvelope"></i>
              </span>
              <a href="#">www.websiteurl.com</a>

            </li>
            <li>
              <span>
                <i class="icon-IconWeb"></i>
              </span>
              <a href="mailto:#">emailaddress@website.com</a>

            </li>
          </ul>

        </div>
      </div>
      <div class="card get-services-card border-0 mb-4">
        <div class="card-body">
          <ul>
            <li id="show-hide-contact-number">
              <a href="/">
                <div class="d-flex">
                  <span class="icon-IconCall"></span>
                  <div class="contact-number">
                    Contact Number
                  </div>
                </div>
              </a>
            </li>

            <li data-bs-toggle="modal"
              data-bs-target="#sendMessageModal">
              <a href="#">
                <span class="icon-IconMessage"></span> Sign in to message
              </a>
            </li>
            <li data-bs-toggle="modal"
              data-bs-target="#sendMeetingRequest">
              <a href="#meeting-request">
                <span class="icon-IconMeeting"></span> Schedule a meeting
              </a>
            </li>
            <li
              data-bs-toggle="modal"
              data-bs-target="#getRemoteAssistantModal">
              <a href="#remote-assistance">

                <span class="icon-IconRemote"></span> Get Remote Assistance
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon-IconChat"></span> Chat with expert
              </a>
            </li>
            <li data-bs-toggle="modal"
              data-bs-target="#getQuoteModal">
              <a href="#get-quote">
                <span class="icon-IconQuotation"></span> Get a quotation
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card available-hours border-0 mb-4">
       
        <div class="card-body">
          <div class="card-header">
          
              Available hours / Open Hours
         
          </div>
          <ul>
            <li>Monday: 9:00am to 7:30pm</li>
            <li>Tuesday: 9:00am to 7:30pm</li>
            <li>Wednesday: 9:00am to 7:30pm</li>
            <li>Thursday: 9:00am to 7:30pm</li>
            <li>Friday: 9:00am to 7:30pm</li>
            <li>Saturday: 10:00am to 4:00pm</li>
            <li>Sunday: 12:00pm to 4:00pm</li>
          </ul>
        </div>
        
      </div>

      <div class="card search-tags border-0 mb-4">
       
        <div class="card-body">
          <div class="card-header">
          
              Similar search tags
         
          </div>
          
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
            <a href="#" class="search-tag">Pc Repair</a>
          
            
          
        </div>
        
      </div>



    </div>
  </div>
</div>

{{> sendMessageModal}}