@media (min-width: 1700px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1920px;
    width: 100%;
  }

  .navbar .navbar-nav > li a {
    font-size: 20px;
  }

  .service_card {
    max-width: 100%;
  }


  #home-price-component{
    padding-top:96px;
  }

  .clip-mask:before {
    border-top: 120px solid #FBC365;
    border-left: 960px solid transparent;
    border-right: 960px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0px;
    width: 0;
  }
}
