---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="container" id="user_profile">
    <div class="row">
        <div class="col-md-3">
            {{> profile_left_nav}}
        </div>

        <div class="col-md-9 mt-4">

            <div class="row">
                <div class="col-md-8">
                    <canvas id="sales-view" height="300"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="post-types" height="300"></canvas>
                </div>
            </div>
         
            <div class="row mt-4">
                <div class="col-md-6">
                  <div class="card border-0 scheduled-meeting info-list-card">
                      <div class="card-body">
                          <h5 class="card-title">Scheduled Meetings</h5>
                          <ul>
                              <li>
                                  <a href="#">
                                     <span>1. Troubleshooting (Reqested by R.Divid
                                      Beckham) </span>
                                      <br> Date 23 / Dec / 2020
                                      Time 2.30pm - 3.30pm <br>  <span class="link">
                                          Google Meet -
                                      https://www.googlemeet.com/utitr-tiureo-rewo
                                      </span>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                     <span>2. Repair</span> (Reqested by R.Divid
                                      Beckham)Date
                                      23/ Dec/ 2020 - Time 2.30pm - 3.30pmZOOM
                                      -
                                      https://www.zoom.com/utitr-tiureo-rewo
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                     <span>3. Network Desinging</span> (Reqested by
                                      R.Divid
                                      Beckham)Date 23/ Dec/ 2020 - Time 2.30pm
                                      -
                                      3.30pmWEBX -
                                      https://www.webxcisco.com/utitr-tiureo-rewo
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="card border-0 scheduled-meeting info-list-card">
                        <div class="card-body">
                            <h5 class="card-title">Quotations Received</h5>
                            <ul>
                                <li>

                              
                                    <a href="#">
                                       <span>1.     Quotation No103q254254 (Reqested by R.Divid
                                        Beckham) </span>
                                        <br> Date 23 / Dec / 2020
                                        Time 2.30pm - 3.30pm <br>  <span class="link">
                                            
                                        </span>
                                    </a>
                                </li>
  
                                <li>
                                    <a href="#">
                                       <span>2. Quotation No103q254254</span> (Reqested by R.Divid
                                        Beckham)Date
                                        23/ Dec/ 2020 - Time 2.30pm - 3.30pmZOOM
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       <span>3. Quotation No103q254254</span> (Reqested by
                                        R.Divid
                                        Beckham)Date 23/ Dec/ 2020 - Time 2.30pm
                                        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                  <div class="card border-0 scheduled-meeting info-list-card">
                      <div class="card-body">
                          <h5 class="card-title">Messages</h5>
                          <ul>
                              <li>
                                  <a href="#">
                                     <span>1. Troubleshooting (Reqested by R.Divid
                                      Beckham) </span>
                                      <br> Date 23 / Dec / 2020
                                      Time 2.30pm - 3.30pm <br>  <span class="link">
                                          Google Meet -
                                      https://www.googlemeet.com/utitr-tiureo-rewo
                                      </span>
                                  </a>
                              </li>

                              <li>
                                  <a href="#">
                                     <span>2. Repair</span> (Reqested by R.Divid
                                      Beckham)Date
                                      23/ Dec/ 2020 - Time 2.30pm - 3.30pmZOOM
                                      -
                                      https://www.zoom.com/utitr-tiureo-rewo
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                     <span>3. Network Desinging</span> (Reqested by
                                      R.Divid
                                      Beckham)Date 23/ Dec/ 2020 - Time 2.30pm
                                      -
                                      3.30pmWEBX -
                                      https://www.webxcisco.com/utitr-tiureo-rewo
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="card border-0 scheduled-meeting info-list-card">
                        <div class="card-body">
                            <h5 class="card-title">Notifications</h5>
                            <ul>
                                <li>

                              
                                    <a href="#">
                                       <span>1.     Quotation No103q254254 (Reqested by R.Divid
                                        Beckham) </span>
                                        <br> Date 23 / Dec / 2020
                                        Time 2.30pm - 3.30pm <br>  <span class="link">
                                            
                                        </span>
                                    </a>
                                </li>
  
                                <li>
                                    <a href="#">
                                       <span>2. Quotation No103q254254</span> (Reqested by R.Divid
                                        Beckham)Date
                                        23/ Dec/ 2020 - Time 2.30pm - 3.30pmZOOM
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       <span>3. Quotation No103q254254</span> (Reqested by
                                        R.Divid
                                        Beckham)Date 23/ Dec/ 2020 - Time 2.30pm
                                        
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
