---
layout : default.html
title : My Tech Hunter - HTML version
---
<section id="all-promotions">
  <p>
    &nbsp;
  </p>
  <div class="section-title">
    <h2>
      All Promotions
    </h2>
  </div>
  <div class="container">

    <div class="row mb-4">
      <div class="col-md-2">
        24 Promotions found
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-3">
        <div class="dropdown m-2">
          <button class="btn btn-secondary" data-toggle="dropdown">
            Service categories
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              Categories
            </li>
            <li class="dropdown-item"> Networking</li>
            <li class="dropdown-item"> Repair</li>
            <li class="dropdown-item"> App Development</li>
            <li class="dropdown-item"> Software Development</li>
            <li class="dropdown-item"> Remote Assistance</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <input type="date" />
      </div>
    </div>
    <div class="row mb-4">

      <div class="col-lg-3 col-sm-6">
        <div class="card service_card promotion-card p-0 mb-4">
          <div class="card-body">
            <a href="/promotion/single-page">
              <div class="service_image">
                <img src="{{assets}}images/services/s.png" />
                <div class="promotion-percent">
                  20%
                </div>
              </div>
              <div class="card-text">
                <div class="comp_name">
                  RF computer services
                </div>
                <div class="service_title">
                  Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                </div>
                <div class="offer-valid">
                  Offer valid till <br>
                  Jan 26 2021
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="card service_card promotion-card p-0 mb-4">
          <div class="card-body">
            <a href="/promotion/single-page">
              <div class="service_image">
                <img src="{{assets}}images/services/s.png" />
                <div class="promotion-percent">
                  20%
                </div>
              </div>
              <div class="card-text">
                <div class="comp_name">
                  RF computer services
                </div>
                <div class="service_title">
                  Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                </div>
                <div class="offer-valid">
                  Offer valid till <br>
                  Jan 26 2021
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card service_card promotion-card p-0 mb-4">
          <div class="card-body">
            <a href="/promotion/single-page">
              <div class="service_image">
                <img src="{{assets}}images/services/s.png" />
                <div class="promotion-percent">
                  20%
                </div>
              </div>
              <div class="card-text">
                <div class="comp_name">
                  RF computer services
                </div>
                <div class="service_title">
                  Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                </div>
                <div class="offer-valid">
                  Offer valid till <br>
                  Jan 26 2021
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card service_card promotion-card p-0 mb-4">
          <div class="card-body">
            <a href="/promotion/single-page">
              <div class="service_image">
                <img src="{{assets}}images/services/s.png" />
                <div class="promotion-percent">
                  20%
                </div>
              </div>
              <div class="card-text">
                <div class="comp_name">
                  RF computer services
                </div>
                <div class="service_title">
                  Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                </div>
                <div class="offer-valid">
                  Offer valid till <br>
                  Jan 26 2021
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="paginations"></div>
      </div>
    </div>
  </div>
</section>
