<section id="th-customers-comments">
    <div class="container">
      <div class="section-title">
        <h2>
          What Our Customers are Saying...
        </h2>
        <p>
          A few of our customers told us what they think of our service.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9 justify-content-center">
          <div class="swiper-container" id="home_customers">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card customer_card">
                  <div class="customer_comments">
                    <p>
                      Selecting a service provider was like throwing darts blind
                      folded. Those who report on “My
                      Tech
                      Hunter”
                      have
                      helped me make informed, logical, educated decisions. I am
                      truly grateful.
                    </p>
                  </div>

                  <div class="customer_image">
                    <img src="{{assets}}images/c1.png" />
                  </div>
                  <div class="customer_name">
                    Engilovn
                  </div>
                  <div class="customer_info">
                    Technical Director - <br>
                    Value Solutions
                  </div>


                </div>
              </div>
              <div class="swiper-slide">
                <div class="card customer_card">
                  <div class="customer_comments">
                    <p>
                      Selecting a service provider was like throwing darts blind
                      folded. Those who report on “My
                      Tech
                      Hunter”
                      have
                      helped me make informed, logical, educated decisions. I am
                      truly grateful.
                    </p>
                  </div>

                  <div class="customer_image">
                    <img src="{{assets}}images/c2.png" />
                  </div>
                  <div class="customer_name">
                    Engilovn
                  </div>
                  <div class="customer_info">
                    Technical Director - <br>
                    Value Solutions
                  </div>


                </div>
              </div>
              <div class="swiper-slide">
                <div class="card customer_card">
                  <div class="customer_comments">
                    <p>
                      Selecting a service provider was like throwing darts blind
                      folded. Those who report on “My
                      Tech
                      Hunter”
                      have
                      helped me make informed, logical, educated decisions. I am
                      truly grateful.
                    </p>
                  </div>

                  <div class="customer_image">
                    <img src="{{assets}}images/c3.png" />
                  </div>
                  <div class="customer_name">
                    Engilovn
                  </div>
                  <div class="customer_info">
                    Technical Director - <br>
                    Value Solutions
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="{{assets}}images/customers_bg.png">
  </section>