<section id="th-information">
    <div class="container" class="p-0">
      <div class="row" no-gutters>
        <div class="col-md-7">
          <div>
            <h2>
              Become a my tech hunter professional <br>
              or business
            </h2>
            <p>
              Packed with tools and benefits, dedicated to stakeholders,
              individuals & businesses
            </p>
            <ul>
              <li>
               <span class="icon-IconRoundCheck"></span>
                Connect to professionals with proven industry experience
              </li>
              <li>
                <span class="icon-IconRoundCheck"></span>
                Get matched with the perfect talent by a reviews & rating
              </li>
              <li>
                <span class="icon-IconRoundCheck"></span>
                Connect to professionals with proven industry experience
              </li>
              <li>
                <span class="icon-IconRoundCheck"></span>
                Get matched with the perfect talent by a reviews & rating
              </li>
              <li>
                <span class="icon-IconRoundCheck"></span>
                Connect to professionals with proven industry experience
              </li>
            </ul>
            <a href="/" class="btn btn-secondary">
              Explore our talent
            </a>
           <img src="{{assets}}svg/dots.svg"/>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{assets}}images/price_image.png" class="right_image">
        </div>
      </div>
      <div class="clip-mask">
      </div>
    </div>
  </section>