<!-- Modal -->


<div class="modal fade" data-bs-backdrop="static" id="viewMeetingsModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    Send Meeting Confirmation
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <p>
                        <span class="small text-muted d-block">
                            Meeting Title
                        </span>
                        PC Remote Trouble Shooting
                    </p>

                    <p>
                        <span class="small text-muted d-block">
                            Start Date
                        </span>
                        31st May 2021
                    </p>

                    <p>
                        <span class="small text-muted d-block">
                            Start time
                        </span>
                        9:00 am
                    </p>
                    <p>
                        <span class="small text-muted d-block">
                            Meeting link
                        </span>
                        <a href="http://google-meet.com/790327xytfsdaf">
                            http://google-meet.com/790327xytfsdaf
                        </a>
                    </p>

                    <p>
                        <span class="small text-muted d-block">
                            Requested by
                        </span>
                        Adam Johns
                    </p>


                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">

                <button class="btn btn-primary">
                    Confirm invitation
                </button>
                <button class="btn btn-danger btn-sm">
                    Cancel invitation
                </button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="viewNotificatinsModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    View Nofitication
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <p>
                        <span class="small text-muted d-flock">
                            Notification date/time
                        </span>
                        <strong>23/May/20201 : 9:30pm</strong>
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Soluta expedita autem minus sequi voluptas enim
                        repudiandae aut, laudantium omnis rem magnam aperiam
                        asperiores maiores molestias. Incidunt veniam
                        voluptatibus alias quo?
                    </p>

                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">

                <button class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="viewReviewsModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    Review Confirmation
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <p>
                        <span class="small text-primary d-block">
                            Post Title
                        </span>
                        <strong>
                            PC Remote Trouble Shooting
                        </strong>
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                    </p>

                    <p>
                        <span class="small text-primary d-block">
                            Review Date
                        </span>
                        31st May 2021
                    </p>
                    <p>
                        <span class="small text-primary d-block">
                            Written by
                        </span>
                        Adam Johns
                    </p>

                    <p class="m-0">
                        <span class="small text-primary d-block">
                            Star rating
                        </span>
                    </p>
                    <div class="star-ratings mb-4">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-mute"></i>
                    </div>
                    <p>
                        <span class="small text-muted d-block">
                            Review
                        </span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                        minus atque. Nulla dolores reprehenderit facilis odio
                        quasi aspernatur cumque placeat, nam et sint similique
                        enim laborum!
                    </p>



                    <label class="d-flex align-items-center">
                        <input type="checkbox" class="mr-4" />
                        Approve and publish review</label>


                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">

                <button class="btn btn-primary">
                    Confirm review
                </button>
                <button class="btn btn-danger btn-sm">
                    Cancel invitation
                </button>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="viewQuoteModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    View Quotation
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <p>
                        <span class="small text-primary d-block">
                            Requeste by
                        </span>
                        <strong>
                            Amiliya Emma John
                        </strong>


                    </p>

                    <p>
                        <span class="small text-primary d-block">
                            Email address
                        </span>
                        <strong>
                            <a href="#"> amilayjohn@astovin.com</a>
                        </strong>


                    </p>

                    <p>
                        <span class="small text-primary d-block">
                            Desciption
                        </span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                    </p>
                    <p>
                        <span class="small text-primary d-block">
                            Date / Time
                        </span>
                        23/12/2020
                    </p>


                    <p class="m-0">
                        <span class="small text-primary d-block">
                            Services Requested
                        </span>
                        <strong> Network Troubleshooting</strong>
                    </p>
                    <ul>
                        <li>Network Security implementation</li>
                        <li>VPN</li>
                        <li>Surveillance</li>
                        <li>Secure data communications</li>
                        <li>Secure voice communications</li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="viewRemoteAssistance"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/slide-3.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    Remote Assistance
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <p>
                        <span class="small text-primary d-block">
                            Requeste by
                        </span>
                        <strong>
                            Emma Juliya
                        </strong>
                    </p>

                    <p>
                        <span class="small text-primary d-block">
                            Email address
                        </span>
                        <strong>
                            <a href="#"> amilayjohn@astovin.com</a>
                        </strong>
                    </p>

                    <p>
                        <span class="small text-primary d-block">
                            Desciption
                        </span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laudantium repudiandae quisquam recusandae inventore,
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p>
                        <span class="small text-primary d-block">
                            Date / Time
                        </span>
                        23/12/2020
                    </p>

                    <p class="m-0">
                        <span class="small text-primary d-block">
                            Services Requested
                        </span>
                        <strong> Network Troubleshooting</strong>
                    </p>
                    <ul>
                        <li>PC Troubleshooting</li>
                        <li>Software Troubleshooting</li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button class="btn btn-primary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="viewMessageModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">
                    Messages
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="message-thread-wrapper">
                    <div class="message-thread">
                        <div class="customer-thread d-flex">
                            <div class="profile-avatar">
                                <img src="{{assets}}images/avatars/avatar-1.png" width="32" height="32"/>
                            </div>
                            <div class="message-bubble">
                                <div class="d-flex justify-content-between mb-2"> <span >Customer</span>
                                    <span class="date-time">21/12/2020 | 9:13 am</span></div>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.
                                Laudantium repudiandae quisquam recusandae
                                inventore,
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.
                            </div>
                        </div>

                        <div class="user-thread d-flex">
                           
                            <div class="message-bubble">
                                <div class="d-flex justify-content-between mb-2"><span>User</span>
                                    <span class="date-time">21/12/2020 | 11:33 am</span></div>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.
                                Laudantium repudiandae quisquam recusandae
                                inventore,
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit.
                            </div>
                            <div class="profile-avatar">
                                <img src="{{assets}}images/avatars/avatar-5.png" width="32" height="32"/>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Type Message"
                            class="form-control" />
                        <button class="btn btn-primary">
                            Send
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">




            </div>
        </div>
    </div>
</div>
