<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" id="sendMessageModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">Send Message
                    <span>
                        Find highly recommended Network Admins / Techs / IT/ MSP
                        /Web Design/ Software Developers / Dev Ops
                    </span>
                </h5>

                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label>
                        Your name
                    </label>
                    <input type="text" placeholder="Your Name *"
                        class="form-control" />
                    <label>
                        Email address
                    </label>
                    <input type="email" placeholder="Email Address"
                        class="form-control" />
                    <textarea class="form-control" rows="10" placeholder="Your
                        message"></textarea>
                    <button class="btn btn-primary">
                        Send Message
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="getQuoteModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">Send Quotation</h5>
                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form><label>
                        Your name
                    </label>
                    <input type="text" required placeholder="Your Name *"
                        class="form-control" />
                    <label>
                        Email address
                    </label>
                    <input type="email" placeholder="Email Address"
                        class="form-control" />
                    <label>
                        Select a service *
                    </label>
                    <select class="form-control" required placeholder="Select a service">
                        <option>
                            Select a service *
                        </option>
                        <option>
                            Network & Security
                        </option>
                    </select>
                    <div class="row no-gutters">
                        <div class="col-md-10 ">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                      PC Repair
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                        Printer repair
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                       Network Security implementation
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                        LAN/WAN Troubleshooting
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                      Router / Switches Repair / service
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        <input type="checkbox" />
                                      Computer Hardware / Software Troubleshooting
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label>
                        Your message
                    </label>
                    <textarea class="form-control" rows="10" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-primary">
                        Request Quotation
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="sendMeetingRequest"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">Send Meeting Request</h5>
                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Meeting Title</label>
                    <input type="text" placeholder="Meeting title"
                        class="form-control" />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Meeting Date</label>
                            <input type="date" placeholder="Meeting date"
                                class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Meeting Time</label>
                            <input type="time" placeholder="Meeting time"
                                class="form-control" />
                        </div>
                    </div>
                    <label>Meeting URL ( Google Meet / WebX / Zoom )</label>
                    <input type="text" placeholder="Meeting URL *" required
                        class="form-control" />
                    <label>Meeting description</label>
                    <textarea class="form-control" rows="10"
                        placeholder="Meeting description"></textarea>
                    <button class="btn btn-primary">
                        Send meeting request
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-bs-backdrop="static" id="getRemoteAssistantModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable
        modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-image" style="background:
                url('../public/images/about-us.jpeg') center center no-repeat;
                background-size: cover;">

                <h5 class="modal-title">Get Remote Assistance</h5>
                <button type="button"
                    class="btn-close btn-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" placeholder="Your Name *"
                        class="form-control" />
                    <input type="email" placeholder="Email Address"
                        class="form-control" />
                    <textarea class="form-control" rows="10" placeholder="Your
                        message"></textarea>
                    <button class="btn btn-primary">
                        Send Message
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>