---
layout : default.html
title : My Tech Hunter - HTML version
---


    <div class="section-title static-pages"
         style="background:url('{{assets}}images/slide-3.jpg') center center repeat; background-size: cover;">
      <div class="container position-relative">
        <h2>
          BECOME A TECH HUNTER PRO
          <span>
           They have now re-emerged and have come out with a ferocious will to provide technical expertise like no other.
We call them Tech Hunter Pros!
         </span>
        </h2>
      </div>
    </div>
    <div class="container auth-container">

      <div class="row no-gutters justify-content-center">
        <div class="col-md-10">

          <ul class="steps">
            <li class="active">
              Choose Subscription
            </li>

            <li>
              Business Information
            </li>

            <li>
              Payment confirmation
            </li>

            <li>
              SMS Verification & Email Activation
            </li>

          </ul>


          <div class="row">
            <div class="col-md-12">
              <div class="auth-page-title">


              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 pr-5">
              <div class="form-title">
                <strong>Become a Tech Hunter Pro - Fill the below details</strong>
              </div>
              <form>
                <input type="text" placeholder="Business Name"/>
                <input type="email" placeholder="Email Address"/>
                <input type="text" placeholder="Country"/>
                <div class="my-4">
                  <p class="text-muted">
                    By continuing, you agree to MyTechHunter’s Business Terms and acknowledge our Privacy Policy. We may
                    email you about products, services and local events. You can unsubscribe at any time.
                  </p>
                </div>

                <button class="btn mb-4 btn-primary" href="/create-details">
                  Continue
                </button>
              </form>
            </div>
            <div class="col-md-6 pl-4">

              <div id="become-a-member">

                  <h5 class="text-center" style="text-transform: capitalize">
                     
                    pack.name
                     
                  </h5>

                <ul class="monthly-annually">
                  <li class="(monthly)">
                    <a>
                      Monthly
                    </a>
                  </li>
                  <li class="(monthly)">
                    <a>
                      Annually
                    </a>
                  </li>
                </ul>
                <div  class="card package-info" >
                  <div class="package-wrapper pack.name">

                    <p class="package-price">
                      from <br>
                      USD
                      <span>  
                        pack.price </span>
                      / mo
                    </p>

                  </div>

                  <div class="package-details">


                    <ul>
                      <li>Get unlimited customized technical help and answers via chat </li>
                      <li>
                        Every User can host up to 10 posts (services)
                      </li>
                      <li> Tech Hunters Members Group Access </li>
                      <li>Join our discussions </li>
                      <li>Tech Hunters Members "Get Tech Help" Page Access </li>
                      <li> Ask and find technical answers </li>

                    </ul>
                  </div>
                </div>
                <div class="card package-info">
                  <div class="package-wrapper pack.name">

                    <p class="package-price">
                      from <br>
                      USD
                      <span>  
                        pack.price *12
                         </span>
                      / yr
                    </p>

                  </div>

                  <div class="package-details">


                    <ul>
                      <li>Get unlimited customized technical help and answers via chat </li>
                      <li>
                        Every User can host up to 10 posts (services)
                      </li>
                      <li> Tech Hunters Members Group Access </li>
                      <li>Join our discussions </li>
                      <li>Tech Hunters Members "Get Tech Help" Page Access </li>
                      <li> Ask and find technical answers </li>

                    </ul>

                  </div>
                </div>
              </div>

            

            </div>
          </div>
        </div>
      </div>
    </div>



 
