---
layout : default.html
title : My Tech Hunter - HTML version
---
<div class="section-title static-pages"
  style="background:url('{{assets}}images/slide-3.jpg') center center repeat;
  background-size: cover;">
  <div class="container position-relative">
    <h2>
      Create your Business profile
      <span>
        Make it visible to Tech Hunters
      </span>
    </h2>
  </div>
</div>
    <div class="container auth-container">
      <form>
        <div class="row no-gutters  justify-content-center">
          <ul class="steps">
            <li class="active">
              Choose Subscription
            </li>

            <li class="active">
              Business Information
            </li>

            <li>
              Payment confirmation
            </li>

            <li>
              SMS Verification & Email Activation
            </li>

          </ul>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-8">

                <p>
                  &nbsp;
                </p>

                <div class="auth-page-title">
                  <h1>
                    Get started by telling us <br>
                    how customers can reach you
                  </h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="mb-2">
                  <strong>
                    Please provide Business Contact Information
                  </strong>
                </label>
                 <input type="text" class="form-control" required placeholder="Business Name"/>
                 <input type="text" class="form-control" required placeholder="Email Address"/>
              </div>
              <div class="col-md-6">
                <label class="mb-2">
                  <strong>
                    &nbsp; <span class="text-white">.</span>
                  </strong>
                </label>
                 <input type="text" class="form-control" required placeholder="Business category"/>
                 <input type="text" class="form-control" required placeholder="Sub categories"/>
              </div>
              <div class="col-md-6">
                <label class="mb-2">
                  <strong>
                    Business Address
                  </strong>
                </label>
                 <input type="text" class="form-control" required placeholder="Address Line 1"/>
                 <input type="text" class="form-control" required placeholder="Address Line 2"/>
                 <input type="text" class="form-control" required placeholder="City"/>
              </div>
              <div class="col-md-6">
                <label class="mb-2">
                  <strong>
                    &nbsp; <span class="text-white">.</span>
                  </strong>
                </label>
                 <input type="text" class="form-control" required placeholder="ZIP code"/>
                 <input type="text" class="form-control" required placeholder="State"/>
                 <input type="text" class="form-control" required placeholder="Country"/>
              </div>




          <div class="col-md-6">
            <label class="mb-2">
              <strong>
                Contact Number
              </strong>
            </label>
             <input type="text" class="form-control" required placeholder="Mobile Number"/>
             <input type="text" class="form-control" required placeholder="Email Address"/>
            <label class="mb-2">
              <strong>
                Social media links
              </strong>
            </label>
             <input type="text" class="form-control" required placeholder="Linked In URL"/>
             <input type="text" class="form-control" required placeholder="Website URL"/>

          </div>

        </div>
        <div class="row">
          <div>
            <button class="btn mb-4 btn-primary" href="/business-documents">
              Create Business
            </button>
          </div>
        </div>
        </div>
        </div>
      </form>
    </div>