---
layout : default.html
title : My Tech Hunter - HTML version
---
    <div class="container">
      <div class="row">
        <div class="col-md-8 create-post-container">
          <div class="row">
            <div>
              <div class="auth-page-title">
                <h1>
                  Create a promotion <br>
                </h1>
                <h3>
                  Please provide below information to create a promotion
                </h3>
              </div>
            </div>
          </div>
          <form>
            <div class="row no-gutters">
              <div class="col-md-5">
                <input class="form-control" type="date" placeholder="Start date" id="example-datepicker-start"/>
              </div>
              <div class="col-md-5">
                <input class="form-control" type="date" placeholder="End date" id="example-datepicker-end"/>
              </div>
            </div>

            <div class="row">
              <div>
                <input class="form-control" type="text" placeholder="Post Title" v-model="post_title"/>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <input class="form-control"  type="text"
                              placeholder="Business Categories"/>
              </div>
              <div class="col-md-6">
                <input class="form-control"  type="text" placeholder="Sub Categories"/>
              </div>
            </div>

            <div class="row">
              <div>
                <label class="mb-4">
                Upload images 
                </label>

                <div class="d-flex">
                  <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>

                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>

                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>

                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>

                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div>
                <label class="mb-4">
                 Upload Videos 
          
             
                </label>
                <div class="d-flex">
                  <div class="input-image-upload" >
                   <img src="{{assets}}svg/fileUpload.svg"/>
                    <input class="form-control" type="file">
                  </div>
                  <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>
                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>
                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>
                   <div class="input-image-upload" >
                    <img src="{{assets}}svg/fileUpload.svg"/>
                     <input class="form-control" type="file">
                   </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div>
                <div class="enable-promotion-wrapper">
                  <label class="d-flex align-items-center mb-4">
                    <input type="checkbox" class="mr-2"> Enable Promotion
                  </label>
                 

                  <input class="form-control" v-model="actual_price" placeholder="Actual price"/>

                  <input class="form-control" v-model="promotion_price" placeholder="Promotional price"/>

                  <input class="form-control" v-model="percentage" placeholder="Promotional percentage"/>

                  <div class="row" no-gutters>
                    <div class="col-md-6">
                      <input class="form-control" type="date" v-model="promo_start_date" placeholder="Promo start-date"
                                         id="promo-datepicker-start"/>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" type="date" v-model="promo_end_date" placeholder="Promo end date"
                                         id="promo-datepicker-end"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div>
                <div class="dropdown-divider mb-4"></div>
              </div>
            </div>

            <div class="row">
              <div>
                <label class="mb-4">
                 Pricing information
                </label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control"  placeholder="Price"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div>
                <label class="mb-4">
                   Contact Information
                </label>
                <div class="row">
                  <div class="col-md-6">
                    <input class="form-control" placeholder="Phone number"/>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" placeholder="Email address"/>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" placeholder="Mobile number"/>
                  </div>
                  <div class="col-md-6">
                    <label class="d-flex align-items-center ">
                      <input type="checkbox" class="mr-2" placeholder="Contact Information"/> Use same email in the profile
                    </label>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label>
                 Post description
                </label>
                <div id="post-editor">

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card">


                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mt-4">
                <button class="btn btn-primary">
        Create Post
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4 preview-containers" >
      

          <h4 class="mt-4">
       Promotion preview
          </h4>
          <div class="card service_card promotion-card p-0">
            <div class="service_image">
              <img src="{{assets}}images/services/s1.png"/>
              <div class="promotion-percent">

                 -20%
              </div>
            </div>
            <div class="card-text">
              <div class="comp_name">
                RF computer services
              </div>
              <div class="service_title">
                 
                Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                 
              </div>
              <div class="category-tags d-flex">

                <a href="/">  
                  categories
                </a> 
                <a href="/"> 
                    sub_categories
                </a> 
              </div>
              <div class="offer-valid">
                Offer valid till </br>
                Jan 26 2021
              </div>
            </div>


         </div>
        </div>
      </div>
    </div>
   </template>