---
layout : default.html
title : My Tech Hunter - HTML version
---

    <section id="all-posts">
      <p>
        &nbsp;
      </p>
      <div class="section-title">
        <h2>
          All Posts
        </h2>
      </div>
      <div class="container">

        <div class="row mb-4">
          <div class="col-md-2">
           24 Posts available
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
           <!-- dropdown-->
          </div>
          <div class="col-md-3">
            <input class="form-control" type="date"/>
          </div>
        </div>
        <div class="row mb-4">

          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>

        <div class="row mb-4">

          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>
        <div class="row mb-4">

          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card service_card p-0">
            <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png"/>
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                  <img width="64" src="{{assets}}images/avatars/avatar-1.png"/>
                  RF computer services
                </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                    <div class="star-ratings">
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-warning"></i>
                      <i class="fa fa-star text-mute"></i>
                    </div>
                  </div>
                </a> 
                <div class="category-tags">
                  <a href="/">Networking</a> 
                  <a href="/">Repair</a> 
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="search-results-footer d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="mr-2">
                  Show results
                </div>
                <div class="dropdown search-filter-dropdown small-version">
                  <button class="btn btn-secondary  dropdown-toggle" 
                  type="button" 
                  data-bs-toggle="dropdown">
                   <span>24</span> <span class="icon-IconArrowDown"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"> 24</li>
                    <li class="dropdown-item"> 48</li>
                    <li class="dropdown-item"> 72</li>
                 
                  </ul>
                </div>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>



