---
layout : default.html
title : My Tech Hunter - HTML version
---

<div class="container">
  <div class="th-ad-top">
    <img src="{{assets}}images/ad_1.png">
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="th-ad-left">
        <img src="{{assets}}images/ad_2.png">
      </div>
      <div class="filter-wrapper">

        <div class="card filter-card bg-success promotions">
          <div class="card-header">
            Promotions
          </div>
          <ul>
            <li>
              <label> <input type="checkbox">
                Show Promotions (12)
              </li>

            </ul>
          </div>
          <div class="card filter-card p-0">
            <div class="filter-title">
              Filter by Profile
            </div>
            <ul>
              <li>
                <label> <input type="checkbox">
                  Business Profile / Company
                </li>
                <li>
                  <label> <input type="checkbox">
                    Individual / freelancer
                  </li>
                </ul>
              </div>
              <div class="card filter-card p-0">
                <div class="filter-alert">
                  <span class="icon-IconBell" style="font-size:32px;"></span>
                  <p>
                    Search alert <br>
                    <span>
                      Get notified when new items are posted
                    </span>
                  </p>

                </div>

                <div class="filter-title">
                  Categories
                </div>
                <ul>
                  <li>
                    <label> <input type="checkbox">
                      PC Repair
                    </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Printer Repair </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Servers Repair </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Routers & Switchers Repair </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Corporate-LANs/WANs </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Computer hardware/software </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Secure data communications </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Secure voice communications </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      VPN </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Data recovery </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Remote IT Support </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Surveillance </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Network Security implementation </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Mobile phone repair </label>
                  </li>
                  <li>
                    <label> <input type="checkbox">
                      Staff training </label>
                  </li>

                </ul>
              </div>
              <div class="card filter-card p-0">
                <div class="filter-title">
                  Sort by Price
                </div>
                <ul>
                  <li>
                    <label> <input type="checkbox">
                      $$
                    </li>
                    <li>
                      <label> <input type="checkbox">
                        $$$
                      </li>
                      <li>
                        <label> <input type="checkbox">
                          $$$$
                        </li>
                        <li>
                          <label> <input type="checkbox">
                            $$$$$
                          </li>
                        </ul>

                      </div>
                    </div>

                  </div>
                  <div class="col-md-9">
                    <div class="py-4 d-flex justify-content-between">
                      <div class="search-results-count">
                        <div class="results-count">
                          Search results | <span>45 Results found</span>
                        </div>
                        <div class="results-keyword">
                          Pc reparing in Los Angels
                        </div>
                      </div>
                      <div class="d-flex">
                        <div>
                          <div class="dropdown search-filter-dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              data-bs-toggle="dropdown">
                              <span>View</span> <span
                                class="icon-IconArrowDown"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item" href="#">
                                <span class="icon-IconView"></span>
                                Grid View
                              </li>
                              <li class="dropdown-item" href="#">
                                <i class="fa fa-list"></i>
                                List View
                              </li>
                              <li class="dropdown-item" href="#">
                                <span class="icon-IconMarker"></span>
                                Map View
                              </li>
                            </ul>
                          </div>

                        </div>
                        <div>
                          <div class="dropdown search-filter-dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              data-bs-toggle="dropdown">
                              <span>Distance</span> <span
                                class="icon-IconArrowDown"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item">

                                <a href="#">30 miles</a>
                              </li>
                              <li class="dropdown-item" href="#">

                                40 miles
                              </li>
                              <li class="dropdown-item" href="#">

                                50 miles
                              </li>
                              <li class="dropdown-item">

                                60 miles
                              </li>
                              <li class="dropdown-item" href="#">

                                70 miles
                              </li>
                              <li class="dropdown-item" href="#">

                                80 miles
                              </li>
                            </ul>
                          </div>

                        </div>
                        <div>
                          <div class="dropdown search-filter-dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                              type="button"
                              data-bs-toggle="dropdown">
                              <span>Sort results</span> <span
                                class="icon-IconArrowDown"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item">
                                Promotions
                              </li>
                              <li class="dropdown-item"> Most recent</li>
                              <li class="dropdown-item"> Best match</li>
                              <li class="dropdown-item"> Top rating</li>
                              <li class="dropdown-item"> Lowest pricing</li>
                              <li class="dropdown-item"> High pricing</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <div class="card service_card service-ad p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                              <span class="badge badge-warning">
                                Sponsored
                              </span>
                              <img src="{{assets}}images/services/s1.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="customer-satisfaction">
                                <span>
                                  120
                                </span>
                                Satisfied customers
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4" @click="single">
                        <div class="card service_card service-ad p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                              <span class="badge badge-warning">
                                Sponsored
                              </span>
                              <img src="{{assets}}images/services/s2.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="customer-satisfaction">
                                <span>
                                  120
                                </span>
                                Satisfied customers
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
              
                          </div>
              
                        </div>
                      </div>
                      <div class="col-md-4" @click="single">
                        <div class="card service_card service-ad p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                              <span class="badge badge-warning">
                                Sponsored
                              </span>
                              <img src="{{assets}}images/services/s3.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64" src="{{assets}}images/profile.png"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="customer-satisfaction">
                                <span>
                                  120
                                </span>
                                Satisfied customers
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
                          </div>
              
              
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <div class="card service_card p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                            
                              <img src="{{assets}}images/s1.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales
                                and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                          
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card service_card p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                              
                              <img src="{{assets}}images/s1.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales
                                and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                                  (20 reviews)
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card service_card p-0 w-100">
                          <div class="card-body">
                            <div class="service_image">
                            
                              <img src="{{assets}}images/s1.png" />
                            </div>
                            <div class="card-text">
                              <div class="comp_name">
                                <div size="64"></div>
                                RF computer services
                              </div>
                              <div class="service_title">
                                Computer, Laptop, Mobile Phone, Repairs, Sales
                                and Service
                              </div>
                              <div class="service_rating">
                                <div class="star-rating">
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-warning"></i>
                                  <i class="fa fa-star text-mute"></i>
                           
                                </div>
                              </div>
                              <div class="category-tags">
                                <a href="/">Networking</a>
                                <a href="/">Repair</a>
                              </div>
                              <div class="service_price">
                                <small>
                                  Price
                                </small>
                                $$$ USD
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
