---
layout : default.html
title : My Tech Hunter - HTML version
---


    <div id="page-contact">
      <div class="section-title static-pages"
           style="background:url('{{assets}}images/contact-us.jpeg') center center no-repeat; background-size: cover;">
        <div class="container position-relative">
          <h2>
            CONTACT US
            <span>
           Get in touch with us !
         </span>
          </h2>
        </div>
      </div>
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-6">
            <p class="text-center my-4">
              No personal technical questions will be answered here.
              This page is only for website related support requests.
            </p>
          </div>


        </div>


      </div>

      <div class="container" fluid>
        <div class="row">
          <div class="col-md-12">
            <div id="contact-google-map"></div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="my-tech-contact">
              <h3>
                My Tech Hunters<br>Headquarters
              </h3>
              <p>

                <i class="fa fa-map-marker"></i> 1859 SE Port St Lucie Blvd. <br>
                Port St Lucie, FL 34952<br>
              </p>
              <p>
                <i class="fa fa-envelope-o"></i> <a href="maito:info@mytechhunter.com">info@mytechhunter.com</a><br>
              </p>
              <p>
                <i class="fa fa-phone"></i> <a href="tel:772.249.3796">
                772.249.3796
              </a>
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <form class="my-tech-contact-form">
              <p>
                &nbsp;
              </p>
              <h3 class="text-center">
                Send us your Feedback / Inquiry
              </h3>
              <input type="text" class="form-control" placeholder="Full name" required/>
              <input type="email"class="form-control"  placeholder="Email address" required/>
              <input type="number" class="form-control" placeholder="Contact"/>
              <textarea rows="5" class="form-control" placeholder="Messages / Inquiry"></textarea>
              <button class="btn btn-primary">
                <i class="fa fa-envelope"></i> Send message
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
