---
layout : default.html
title : My Tech Hunter - HTML version
---
<div>
  <section class="home_tech_profiles">
    <div class="section-title">
      <div class="container position-relative">
        <h2>
          We Make The Perfect Solutions
          <span>
            We are committed to providing our customers with exceptional service
          </span>
        </h2>
        <a href="#all-posts">
          See all Profiles
        </a>
      </div>
    </div>
    <div class="container position-relative">
      <div class="swiper-container" id="recent_post_pro">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card service_card tech_profile p-0">
              <div class="service_image">
                <img src="{{assets}}images/team-1.jpg" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="service_title">
                    Post name
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Designing</a>
                  <a href="/">UI / UX</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card service_card tech_profile p-0">
              <div class="service_image">
                <img src="{{assets}}images/team-1.jpg" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="service_title">
                    Post name
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Designing</a>
                  <a href="/">UI / UX</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card service_card tech_profile p-0">
              <div class="service_image">
                <img src="{{assets}}images/team-1.jpg" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="service_title">
                    Post name
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Designing</a>
                  <a href="/">UI / UX</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card service_card tech_profile p-0">
              <div class="service_image">
                <img src="{{assets}}images/team-1.jpg" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="service_title">
                    Post name
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Designing</a>
                  <a href="/">UI / UX</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card service_card tech_profile p-0">
              <div class="service_image">
                <img src="{{assets}}images/team-1.jpg" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="service_title">
                    Post name
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Designing</a>
                  <a href="/">UI / UX</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="swiper-pagination-1"></div>
      <a class="btn btn-default btn_prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="btn btn-default btn_next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </section>

  <section>
    <div class="section-title">
      <div class="container position-relative">
        <h2>
          Recent posted services
        </h2>
        <a href="/all-profiles">
          See all services
        </a>
      </div>
    </div>
    <div class="container position-relative">
      <div class="swiper-container" id="recent_post">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card service_card p-0">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png" />
              </div>
              <div class="card-text">
                <a href="/single-page"> <div class="comp_name">
                    <img width="64" src="{{assets}}images/avatars/avatar-1.png"
                      />
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Networking</a>
                  <a href="/">Repair</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card service_card p-0">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="comp_name">
                    <img width="64" src="{{assets}}images/avatars/avatar-1.png"
                      />
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Networking</a>
                  <a href="/">Repair</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>
       
          <div class="swiper-slide">
            <div class="card service_card p-0">
             <div class="card-body">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="comp_name">
                    <img width="64" src="{{assets}}images/avatars/avatar-1.png"
                      />
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Networking</a>
                  <a href="/">Repair</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
             </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card service_card p-0">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="comp_name">
                    <img width="64" src="{{assets}}images/avatars/avatar-1.png"
                      />
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Networking</a>
                  <a href="/">Repair</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card service_card p-0">
              <div class="service_image">
                <img src="{{assets}}images/services/s1.png" />
              </div>
              <div class="card-text">
                <a href="/single-page">
                  <div class="comp_name">
                    <img width="64" src="{{assets}}images/avatars/avatar-1.png"
                      />
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="service_rating">
                   <div class="star-rating">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-mute"></i>
                  </div>
                  </div>
                </a>
                <div class="category-tags">
                  <a href="/">Networking</a>
                  <a href="/">Repair</a>
                </div>
                <div class="service_price">
                  <small>
                    Price
                  </small>
                  $$$ USD
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="swiper-pagination"></div>
        <a class="btn btn-default btn_prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="btn btn-default btn_next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </section>
</div>
