header.site-header {
  position: sticky;
  background: rgb(255, 255, 255);
  top: 0px;
  width: 100%;
  z-index: 1020;

  #logo {
    display: block;
    img {
      margin-top: -16px;
    }
  }
}

.for-business {
  ul {
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
    margin-top: -2px !important;
    border: none;
    right: 0px !important;
    border-radius: 0px 0px 6px 6px;
    left: auto !important;
    padding: 0px;
    li {
      padding: 0px;
      display: block;
      border-bottom: thin solid #d9d9d9;
      padding: 6px 12px;
      background: none !important;
      a {
        color: $gray-300;
        font-size: 14px;
        font-weight: 600;
        display: block;
        text-decoration: none;
        padding: 12px 12px;
        border-radius: 4px;

        &:focus:active,
        &:focus,
        &:active {
          outline: 0;
          background: #faeede;
        }
        &:hover {
          color: #000;
          background: #faeede;
        }

        i.fa {
          margin-right: 6px;
        }
      }
    }
  }
}

.profile-dropdown {
  div.logged-profile-info {
    background: #f2f2f2;
    padding: 12px;
    border-radius: 12px;

    p {
      font-size: 14px;
    }

    div.badge-member {
      background: $primary_hover;
      color: #fff;
      font-weight: bold;
      font-size: 13px;
      text-align: center;
      max-width: 140px;
      padding: 6px;
      border-radius: 24px;
      margin: 6px 0px;
    }
  }
  ul {
    width: 320px;
    padding: 0px 12px;
    margin: 0px;
    border-radius: 0px 0px 12px 12px;
    border: none;

    li.divider {
      margin: 0px -12px;
      border-bottom: thin solid #d9d9d9;
    }
    li {
      list-style: none;
      a {
        font-size: 14px;
        display: block;
        color: $gray-300;
        padding: 8px 12px;
        font-weight: 500;
        display: block;
        span {
          margin-right: 6px;
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }
  button {
    &:after {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  header.site-header {
    position: absolute;
    height: 64px;
    background:#000!important;
    top:0px;
    left:0px;
    #logo {

      img {
        margin:16px auto 0px auto;
      }
    }
  }

  nav#tech-hunter-menu-wrapper{
    height:0px;
    overflow:hidden;
    margin-top: 16px;

    div.col-md-12{
      padding:0px;
    }
    &.display{
      height:auto;
      overflow: visible;
    }
  }
}
