
//small desktop fix
@media (max-width: 1599px) {
  .navbar .navbar-nav > li a{
    padding:12px 16px;
  }

}

@media (max-width: 1279px) {
  .clip-mask:before{
    display:none;
  }

  #home-price-component{
    margin-top:24px;

    div.card.package-info .package-details ul{
      padding:0px;
    }
    .tabs .nav.card-header-pills li{
      width:320px;

      a{
        font-size: 18px;
      }
    }
  }


  .container, .container-sm, .container-md, .container-lg {
    max-width: 100%;
  }
  .navbar .navbar-nav > li a{
    padding: 12px 11px;
  }

  #th-advisor .right-section{
    padding:24px 24px;
  }
  #th-advisor .right-section .tech-advisor-packages{
    display:block;

  }
  #th-advisor .right-section .price{
    width:100%;
    max-width:250px;
  }
  #th-advisor .right-section div.tech-advisor-packages > div a.btn{
    width:100%;
  }


}
//ipad landscape fix

@media (max-width: 1199px) {
  .navbar .navbar-nav > li a{
    padding: 12px 11px;
  }
}

//ipdd portrait


@media (max-width: 1023px) {
  .navbar-expand-lg .navbar-toggler{
    display:block !important;
    right: 12px;
    top: 12px;
    position: absolute;
    outline:0;
  }

  .navbar{
    > .container{
      padding: 12px;
      min-height:56px;
    }
  }

  .navbar-expand-lg .navbar-collapse{
    display:none !important;

    &.show{
      display:flex !important;
    }
  }
  .mobile-toggle{
    display:block !important;
     > a{
       display:none;
     }
    div{
      display:none;
    }
  }
  .profile-dropdown{
    position: relative;
  }
  .dropdown-menu.show{
    left:auto !important;
    right:0px;
    transform: none !important;
    top:44px !important;
  }

  .navbar .navbar-nav{
    text-align:left;
    margin:0px;
  }
  .navbar .navbar-nav > li {
    display:block;
  }

  .navbar .navbar-nav > li > div.container-fluid{
    z-index:1210;
  }
}


@media(max-width:767px){
  .navbar > .container {
     padding: 0px;
     min-height: 56px;
  }

  .navbar-expand-lg .navbar-toggler{

    right: auto;
    top: auto;
    position: relative;
    outline:0;
  }

  .mobile-toggle{
    display:block !important;
    > a{
      display:block;
    }
    div{
      display:block;
    }
  }

  .navbar .navbar-nav{
    text-align:center;
    width:100%;
    margin:0px auto;
  }

  #th-advisor .right-section div.tech-advisor-packages > div a.btn{
    width:240px;
  }
}
