
  <header style="background:url('/images/tiger-header.jpg') center center no-repeat; background-size:cover;">
    <div class="top-header">
      <div class="container">

        <ul class="list-group list-group-horizontal">
          <li class="social-network fb">
            <a href="#">
              <i class="fa fa-facebook"/>
            </a>
          </li>

          <li class="social-network tw">
            <a href="#">
              <i class="fa fa-twitter"/>
            </a>
          </li>

          <li class="social-network in">
            <a href="#">
              <i class="fa fa-linkedin"/>
            </a>
          </li>

          <li>
            &nbsp;
          </li>
          <li>
            <a href="/ads">Advertisements</a> 
          </li>
          <li>
            <a href="/why">Why us ?</a> 
          </li>
          <li>
            <b-dropdown>
              <template #button-content>
                Languages
               
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">FR</b-dropdown-item>
            </b-dropdown>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="/" id="logo">
            <img style="width:100%;" src="/images/logo-white.png"/>
          </a> 
        </div>
        <div class="col-md-8" class="py-4 d-flex justify-content-end align-content-center section-sign-in">

          <button v-b-modal.become-a-member variant="primary" class="mr-4 become-a-member">
            <i class="fa fa-user" aria-hidden="true"></i>
            Become a Member
          </button>
          <b-dropdown class="mr-4 for-business" variant="primary">
            <template #button-content>
              <i class="fa fa-briefcase" aria-hidden="true"></i> Business
             
            <b-dropdown-item href="/become-tech-hunter">
              <i class="fa fa-user-circle" aria-hidden="true"></i> Become a Tech Hunter Pro
            </b-dropdown-item>
            <b-dropdown-item href="/create-business">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              Create a Business
            </b-dropdown-item>
            <b-dropdown-item href="/create-post">
              <i class="fa fa-list" aria-hidden="true"></i> Post an advertisement
            </b-dropdown-item>
            <b-dropdown-item href="/create-promotion">
              <i class="fa fa-tag" aria-hidden="true"></i> Post promotions
            </b-dropdown-item>
          </b-dropdown>
          <b-dropdown class="profile-dropdown">
            <template #button-content>
              <span v-if="isAuthenticated">
                <div src="/images/avatars/avatar-5.png" size="36"></div>
                Account
              </span>
              <span v-else>
                <i class="fa fa-user"></i>
              Login
              </span>
             

            <div class="logged-in-profile" v-if="isAuthenticated">
              <div class="dropdown-profile-info">
                <div class="d-flex">
                  <div src="/images/avatars/avatar-5.png" size="72"></div>
                  <div>
                    <h4>
                      Andrew Emiliya
                    </h4>
                    <a class="btn btn-link" href="mailto:andrewemilya@gmail.com">andrewemilya@gmail.com</a>
                    <span class="badge badge-warning">
                                Hunter Member
                              </span>
                    <a href="/profile" class="btn btn-link">View Profile</a> 
                  </div>
                </div>

              </div>
              <ul>
                <li>
                  <a href="/"><i class="fa fa-comments-o" aria-hidden="true"></i> Give feedback improve
                    MyTechHunter
                  </a> 
                </li>
                <li>
                  <a href="/">

                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Settings & Privacy
                  </a> 
                </li>
                <li>
                  <a href="/">

                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    Messages
                  </a> 
                </li>
                <li>
                  <a href="/logout">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    Log out
                  </a> 
                </li>
              </ul>
            </div>

            <b-dropdown-form v-else>
              <b-overlay
                  :show="busy"
                  rounded
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary"
                  class="d-inline-block"
              >

                <p>
                  <strong>
                    User Registration
                  </strong>
                </p>
                <b-form-group label-for="dropdown-form-email" @submit.stop.prevent>
                  <input
                      id="dropdown-form-email"
                      size="sm"
                      placeholder="email@example.com"
                  />
                </b-form-group>
                <b-form-group label-for="dropdown-form-password">
                  <input
                      id="dropdown-form-password"
                      type="password"
                      size="sm"
                      placeholder="Password"
                  />
                </b-form-group>
                <b-form-checkbox class="mb-3">Remember me</b-form-checkbox>
                <div class="d-flex align-content-center">
                  <button variant="primary" class="btn-block" @click="Login">Login</button>
                </div>
              </b-overlay>
            </b-dropdown-form>
            <b-dropdown-item href="/register" v-if="!isAuthenticated">
              <i class="fa fa-user" aria-hidden="true"></i>
             Register

            </b-dropdown-item>
          </b-dropdown>
          <button class="btn btn-icon ml-4" v-if="isAuthenticated">
            <i class="fa fa-bell-o"></i>
            <span class="badge badge-danger">
                  03
                </span>
          </button>
        </div>
      </div>
    </div>
    <b-navbar toggleable="lg" variant="primary">
      <div class="container">
        <div class="d-flex mobile-toggle justify-content-between">
          <b-navbar-toggle target="nav-collapse" class="mobile-menu">
            <img src="/svgs/menu.svg"/>
          </b-navbar-toggle>
          <a href="/">
            <img class="logo" src="/images/favicon.png"/>
          </a> 
          <div>
            <b-dropdown class="mr-4 profile-dropdown">
              <template #button-content>
                <img src="/svgs/user.svg"/>
               
              <div class="logged-in-profile" v-if="isAuthenticated">
                <div class="dropdown-profile-info">
                  <div class="d-flex">
                    <div src="/images/avatars/avatar-5.png" size="72"></div>
                    <div>
                      <h4>
                        Andrew Emiliya
                      </h4>
                      <a class="btn btn-link" href="mailto:andrewemilya@gmail.com">andrewemilya@gmail.com</a>
                      <span class="badge badge-warning">
                                Hunter Member
                              </span>
                      <a href="/profile" class="btn btn-link">View Profile</a> 
                    </div>
                  </div>

                </div>
                <ul>

                  <li>
                    <a href="/"><i class="fa fa-comments-o" aria-hidden="true"></i> Give feedback improve
                      MyTechHunter
                    </a> 
                  </li>
                  <li>
                    <a href="/">

                      <i class="fa fa-cogs" aria-hidden="true"></i>
                      Settings & Privacy
                    </a> 
                  </li>
                  <li>
                    <a href="/">

                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      Messages
                    </a> 
                  </li>
                  <li>
                    <a href="/logout">
                      <i class="fa fa-power-off" aria-hidden="true"></i>
                      Log out
                    </a> 
                  </li>


                </ul>
              </div>

              <b-dropdown-form v-else>
                <b-overlay
                    :show="busy"
                    rounded
                    opacity="0.6"
                    spinner-small
                    spinner-variant="primary"
                    class="d-inline-block"
                >
                  <b-form-group label="Email" label-for="dropdown-form-email" @submit.stop.prevent>
                    <input
                        id="dropdown-form-email"
                        size="sm"
                        placeholder="email@example.com"
                    />
                  </b-form-group>
                  <b-form-group label="Password" label-for="dropdown-form-password">
                    <input
                        id="dropdown-form-password"
                        type="password"
                        size="sm"
                        placeholder="Password"
                    />
                  </b-form-group>
                  <b-form-checkbox class="mb-3">Remember me</b-form-checkbox>
                  <div class="d-flex align-content-center">
                    <button variant="primary" class="btn-block" @click="Login">Sign In</button>


                  </div>
                </b-overlay>
              </b-dropdown-form>
              <b-dropdown-item href="/register" v-if="!isAuthenticated">
                <i class="fa fa-user" aria-hidden="true"></i>
                Create an account
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <li>
              <button v-b-modal.become-a-member variant="primary" class="mr-4 become-a-member">
                <i class="fa fa-user" aria-hidden="true"></i>
                Become a Member
              </button>
              <b-dropdown class="for-business" variant="primary">
                <template #button-content>
                  <i class="fa fa-briefcase" aria-hidden="true"></i> Business
                 
                <b-dropdown-item href="/get-tech-hunter">
                  <i class="fa fa-user-circle" aria-hidden="true"></i> Become a Tech Hunter Pro
                </b-dropdown-item>
                <b-dropdown-item href="/create-business">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  Create a Business
                </b-dropdown-item>
                <b-dropdown-item href="/create-post">
                  <i class="fa fa-list" aria-hidden="true"></i> Post an advertisement
                </b-dropdown-item>
                <b-dropdown-item href="/create-promotion">
                  <i class="fa fa-tag" aria-hidden="true"></i> Post promotions
                </b-dropdown-item>
              </b-dropdown>
            </li>

            <li>
              <a href="/">Network & Security

                <i class="fa fa-caret-down"></i>
              </a> 
              <div class="container" fluid>
                <div>
                  <div class="row">
                    <div class="col-md-8">
                      <ul class="row">
                        <li class="col-md-6">
                          <a href="/">PC Repair</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Printer Repair</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Servers Repair</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Routers & Switchers Repair</a> 
                        </li>

                        <li class="col-md-6">
                          <a href="/">Corporate-LANs/WANs troubleshooting</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Computer hardware/software troubleshooting</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Network Security implementation</a> 
                        </li>


                        <li class="col-md-6">
                          <a href="/">Mobile phone repair</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Staff training</a> 
                        </li>
                        <li class="col-md-6">
                          <a href="/">Network Security implementation</a> 
                        </li>

                      </ul>
                    </div>
                    <div class="col-md-4">

                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="/">Tech Support</a> 
            </li>
            <li>
              <a href="/">Remote Services</a> 
            </li>
            <li>
              <a href="/">Repair & Services</a> 
            </li>
            <li>
              <a href="/">Development</a> 
            </li>
            <li>
              <a href="/">Network & Security</a> 
            </li>
            <li>
              <aclass="btn btn-success btn-sm" href="/all-promotions">
                  <span class="badge badge-danger">
24
                  </span>
                Show Promotions
              </a> 
            </li>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </header>
 


