---
layout : default.html
title : My Tech Hunter - HTML version
---
<section id="th-home-promotions">
  <div class="section-title">
    <div class="container position-relative">
      <h2>
        Promotions
      </h2>

      <a href="/all-promotions">
        See all promotions
      </a>
    </div>
  </div>
  <div class="container position-relative">
    <div class="swiper-container" id="home_promotions">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card service_card promotion-card p-0">
            <div class="card-body">
              <a href="/promotion/single-page">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-1.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021

                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card service_card promotion-card p-0">
            <div class="card-body">
              <a href="/promotion/single-page">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-3.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021

                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card service_card promotion-card p-0">
            <div class="card-body">
              <a href="/promotion/single-page">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-2.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021

                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card service_card promotion-card p-0">
            <div class="card-body">
              <a href="/promotion/single-page">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-3.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021

                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card service_card promotion-card p-0">
            <div class="card-body">
              <a href="/promotion/single-page">
                <div class="service_image">
                  <img src="{{assets}}images/promotions/p-1.png" />
                  <div class="promotion-percent">
                    20%
                  </div>
                </div>
                <div class="card-text">
                  <div class="comp_name">
                    RF computer services
                  </div>
                  <div class="service_title">
                    Computer, Laptop, Mobile Phone, Repairs, Sales and Service
                  </div>
                  <div class="offer-valid">
                    Offer valid till <br>
                    Jan 26 2021

                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home_promotions_swiper-pagination"></div>
    <a class="btn btn-default btn_prev home_promotions_prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="btn btn-default btn_next home_promotions_next">
      <i class="fa fa-angle-right"></i>
    </a>

    
  </div>
</section>
