---
layout : default.html
title : My Tech Hunter - HTML version
---
<section>
  <div class="section-title">
    <h2>
      Popular Categories
    </h2>
    <p>
      Browse through some of our most popular categories
    </p>
  </div>
  <div class="container position-relative">
    <div class="swiper-container" id="home_categories" style="width: 100%;
      margin:0 auto">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card category_card p-0">
            <div class="card-body">
              <div class="category_image">
                <div>
                  <div class="category_title">
                    Remote services <br>
                    & troubleshooting
                  </div>
                  <div class="category_count">
                    32 Services available
                  </div>
                </div>
                <figure>
                  <img src="{{assets}}images/categories/category_4.jpg" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card category_card p-0">
            <div class="card-body">
              <div class="category_image">
                <div>
                  <div class="category_title">
                    Remote services <br>
                    & troubleshooting
                  </div>
                  <div class="category_count">
                    32 Services available
                  </div>
                </div>
                <figure>
                  <img src="{{assets}}images/categories/category_2.png" />
                </figure>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card category_card p-0">
            <div class="card-body">
              <div class="category_image">
                <div>
                  <div class="category_title">
                    Remote services <br>
                    & troubleshooting
                  </div>
                  <div class="category_count">
                    32 Services available
                  </div>
                </div>
                <figure>
                  <img src="{{assets}}images/categories/category_3.jpg" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card category_card p-0">
            <div class="card-body">
              <div class="category_image">
                <div>
                  <div class="category_title">
                    Remote services <br>
                    & troubleshooting
                  </div>
                  <div class="category_count">
                    32 Services available
                  </div>
                </div>
                <figure>
                  <img src="{{assets}}images/categories/category_2.jpg" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card category_card p-0">
            <div class="card-body">
              <div class="category_image">
                <div>
                  <div class="category_title">
                    Remote services <br>
                    & troubleshooting
                  </div>
                  <div class="category_count">
                    32 Services available
                  </div>
                </div>
                <figure>
                  <img src="{{assets}}images/categories/category_1.jpg" />
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="home_categories_swiper-pagination"></div>
    <a class="btn btn-default btn_prev home_categories_prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="btn btn-default btn_next home_categories_next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</section>
