<nav id="tech-hunter-menu-wrapper">
  <a href="#" class="toggle-menu visible-xs-block">
    <i class="fa fa-bars"></i>
  </a>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12">

        <ul class="tech-hunter-menu">
          <li class="mega-drop-down"><a href="#">
              Network Technology</a>
            <div class="animated fadeIn mega-menu">
              <div class="mega-menu-wrap">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h4 class="row mega-title">Feature</h4>
                    <img class="img-responsive"
                      src="https://3.bp.blogspot.com/-rUk36pd-LbM/VcLb48X4f-I/AAAAAAAAGCI/Y_UxBAgEqwA/s1600/Magento_themes.jpg">
                  </div>
                  <div class="col-md-2">
                    <h4 class="row mega-title">Standers</h4>
                    <ul class="stander">
                      <li><a href="#">Mobile</a></li>
                      <li><a href="#">Computer</a></li>
                      <li><a href="#">Watch</a></li>
                      <li><a href="#">laptop</a></li>
                      <li><a href="#">Camera</a></li>
                      <li><a href="#">I pad</a></li>
                      <li><a class="view-more btn- btn-sm" href="#">View more</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h4 class="row mega-title">Description</h4>
                    <ul class="description">
                      <li><a href="#">Women</a>
                        <span>Description of Women</span>
                      </li>
                      <li><a href="#">Men</a>
                        <span>Description of men Cloths</span>
                      </li>
                      <li><a href="#">Kids</a>
                        <span>Description of Kids Cloths</span>
                      </li>
                      <li><a href="#">Others</a>
                        <span>Description of Others Cloths</span>
                      </li>
                      <li>
                        <a class="view-more btn btn-sm" href="#">View more</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h4 class="row mega-title">Icon + Description</h4>
                    <ul class="icon-des">
                      <li><a href="#"><i class="fa fa-globe"></i>Web</a></li>
                      <li><a href="#"><i class="fa fa-mobile"></i>Mobile</a></li>
                      <li><a href="#"><i class="fa fa-arrows-h"></i>Responsive</a></li>
                      <li><a href="#"><i class="fa fa-desktop"></i>Desktop</a></li>
                      <li><a href="#"><i class="fa fa-paint-brush"></i>UI/UX</a></li>
                    </ul>
                  </div>

                </div>
              </div>
              </div>
            </div>
          </li>
          <li><a class="active" href="#"><i class="fa fa-home"></i> Home</a></li>
          <li class="drop-down"><a href="#"><i class="fa fa-cogs"></i> Flyout</a>
            <!--Drop Down-->
            <ul class="drop-down-ul animated fadeIn">
              <li class="flyout-right"><a href="#">Flyout Right</a><!--Flyout Right-->
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </li>

              <li class="flyout-left"><a href="#">Flyout Left</a><!--Flyout Left-->
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </li>

              <li><a href="#">No Flyout</a></li>

            </ul>
            <!--//End drop down-->
          </li>
          <li><a href="#"><i class="fa fa-cogs"></i> Services</a></li>
          <li><a href="#"><i class="fa fa-briefcase"></i> Portfolio</a></li>
          <li><a href="#"><i class="fa fa-envelope"></i> Contact</a>
            <div class="contact">

            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</nav>