<a href="#" class="toggle-menu">
  <i class="fa fa-bars"></i>
</a>
<nav id="tech-hunter-menu-wrapper">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-12">

        <ul class="tech-hunter-menu">
          <li class="mega-drop-down"><a href="#" class="active">
              Network Technology <i class="fa fa-caret-down"></i></a>
            <div class="animated fadeIn mega-menu">
              <div class="mega-menu-wrap">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">PC Repair</a></li>
                        <li> <a href="#">Printer Repair</a></li>
                        <li> <a href="#"> Servers Repair</a></li>
                        <li> <a href="#"> Routers & Switchers Repair</a></li>
                        <li> <a href="#">Corporate-LANs/WANs troubleshooting</a></li>
                        <li> <a href="#"> Computer hardware/software
                            troubleshooting</a></li>
                        <li> <a href="#"> Network Security implementation</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">Secure data communications</a></li>
                        <li> <a href="#">Secure voice communications</a></li>
                        <li> <a href="#"> VPN</a></li>
                        <li> <a href="#"> Date recovery</a></li>
                        <li> <a href="#"> Remote IT Support</a></li>
                        <li> <a href="#"> Surveillance</a></li>
                        <li> <a href="#"> Mobile phone repair</a></li>
                        <li> <a href="#">Staff training</a></li>

                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">Secure data communications</a></li>
                        <li> <a href="#">Secure voice communications</a></li>
                        <li> <a href="#"> VPN</a></li>
                        <li> <a href="#"> Date recovery</a></li>
                        <li> <a href="#"> Remote IT Support</a></li>
                        <li> <a href="#"> Surveillance</a></li>
                        <li> <a href="#"> Mobile phone repair</a></li>
                        <li> <a href="#">Staff training</a></li>

                      </ul>
                    </div>

                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">Secure data communications</a></li>
                        <li> <a href="#">Secure voice communications</a></li>
                        <li> <a href="#"> VPN</a></li>
                        <li> <a href="#"> Date recovery</a></li>
                        <li> <a href="#"> Remote IT Support</a></li>
                        <li> <a href="#"> Surveillance</a></li>
                        <li> <a href="#"> Mobile phone repair</a></li>
                        <li> <a href="#">Staff training</a></li>

                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#"> Tech Support</a></li>
          <li><a href="#"> Remote Services  </a></li>
          <li class="mega-drop-down">
            <a href="#"> Repair & Services <i class="fa fa-caret-down"></i> </a>
            <div class="animated fadeIn mega-menu">
              <div class="mega-menu-wrap">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">PC Repair</a></li>
                        <li> <a href="#">Printer Repair</a></li>
                        <li> <a href="#"> Servers Repair</a></li>
                        <li> <a href="#"> Routers & Switchers Repair</a></li>
                        <li> <a href="#">Corporate-LANs/WANs troubleshooting</a></li>
                        <li> <a href="#"> Computer hardware/software
                            troubleshooting</a></li>
                        <li> <a href="#"> Network Security implementation</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="sub-menu-list">
                        <li> <a href="#">Secure data communications</a></li>
                        <li> <a href="#">Secure voice communications</a></li>
                        <li> <a href="#"> VPN</a></li>
                        <li> <a href="#"> Date recovery</a></li>
                        <li> <a href="#"> Remote IT Support</a></li>
                        <li> <a href="#"> Surveillance</a></li>
                        <li> <a href="#"> Mobile phone repair</a></li>
                        <li> <a href="#">Staff training</a></li>

                      </ul>
                    </div>
                    <div class="col-md-6">
                      <div class="menu-ad">
                        <img src="{{assets}}images/menu-ad.jpg" />
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div></li>
          <li><a href="#">Development</a></li>
          <li>
            <a href="#">
              Network & Security
            </a>
          </li>

          <li class="">
            <a href="#" class="show-promotions">
              Show Promotions <span class="badge badge-danger">12</span>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</nav>