{{> profile-modals}}
<div class="card mt-4">
  <div class="card-body">
    <div class="profile-info">
      <figure>
        <img src="{{assets}}images/profile.png" width="144">
      </figure>
      <div class="profile-user">
        Adam Jones
        <span>
          Artist . Designer
        </span>
        <a href="mailto:andrewemilya@gmail.com">andrewemilya@gmail.com</a>
        <div class="profile-user__links">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="divider"></div>


    <ul class="profile-update-info">
      <li>
        <a href="/"><span class="badge badge-warning">03</span>New
          Messages</a>
      </li>
      <li>
        <a href="/"><span class="badge badge-warning">03</span>New Reviews</a>
      </li>
      <li>
        <a href="/"><span class="badge badge-warning">03</span>New
          Quotations</a>
      </li>

      <li>
        <a href="/"><span class="badge badge-warning">123</span>Profile
          Views</a>
      </li>
      <li>
        <a href="/"><span class="badge badge-warning">23</span>Followers</a>
      </li>
    </ul>

    <div class="divider"></div>

    <nav class="profile-navigation">
      <ul>
        <li>
          <a href="#" class="active">
            <span class="icon-IconDashboard"></span> Dashboard
          </a>
        </li>
        <li>
          <a href="#">
       <span class="icon-IconProfileSettings"></span>     Profile Settings
          </a>
        </li>

        <li>
          <a href="#">
          <span class="icon-IconPromotions"></span>  Posted Promotions
          </a>
        </li>

        <li>
          <a href="#">
       <span class="icon-IconView"></span>     Posted Services
          </a>
        </li>
        <li>
          <a href="#" class="active">
            <span class="icon-IconDashboard"></span> Meetings
          </a>
        </li>
        <li>
          <a href="#">
          <span class="icon-IconBusiness"></span>  Quotations Received
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon-IconProfileMessage"></span> Messages
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon-IconHeaderBell"></span> Notifications
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon-IconReviews"></span> Reviews
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon-IconFollowing"></span> Followers
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon-IconPower"></span>    Deactivate
          </a>
        </li>

        <li>
          <a href="#">
           <span class="icon-IconLogout"></span>  Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

