$primary: #856e48;
$success: #01d6ae;
$warning: #FFA638;
$danger: #FF0000;
$placeholder: rgba(112, 88, 88, 0.01);
$blue: #0068FF;
$orange_light: #FFA638;
$orange_dark: #D38D56;

$gutters: 24px;
$font_primary:  'Inter', sans-serif;
$font_secondary : 'Merriweather', serif;

.bg-transparent {
  background: none !important;
}

.bg-warning {
  background-color: $orange_light !important;
}

.bg-success {
  background-color: $success !important;
}

